body {
    margin: 0 0 0 0;
    text-align: center;
    font-family: sans-serif;
}

hr {
    margin: 0;
}

.title{
    font-size: 80px;
}

.top-container {
    background-color: wheat;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin: 0;
    font-style: italic;
}

h2 {
    margin: 0px;
}

.first-cloud {
    padding-top: 60px;
    margin-left: 70%;
}

.second-cloud {
    margin-right: 80%;
}

.profil {
    display: flex;
    background-color:coral;
}

.profil-image {
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin: 10px 20px 10px 20px;
    background-color: thistle;
    
}

.profil-heading {
    display: inline-block;
    position: relative;
    padding-top: 10px;
    
}

.profil-cont {
    position: relative;
    text-align: center;
    margin: 10px 50px 10px 50px;

}
/*For Education*/
.education{
    display: flex;
    background-color: darksalmon;
}
.Education-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    background-color: thistle;


}

.edu-cont{
    display:flex;
    flex-direction: column  ;
    margin-left: 25%;
    
}
.Skills {
    background-color: wheat;
    display: flex;
    

}
.skill-cont{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding-left: 20px;
}

.skills-img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: thistle;
}


.skill-name {
    display: flex;
    flex-direction: column;
    
    bottom: 180px;
    right: 33%;

}

.skill-discription {
    display: flex;
    flex-direction: column;
    
    bottom: 200px;
    right: 23%;
}
/* Projects
*/
.projects{
    background-color:darkgoldenrod;
    display: flex;
}
.project-img{
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: thistle;
}
.project-cont{
    display: flex;
    flex-direction: column;
    margin: 10px 10% 10px 10%;
}
/* Expousers
*/
.expousers{
    background-color:darkkhaki;
    display: flex;
}
.expouser-img{
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: thistle;
}
.expouser-cont{
    display: flex;
    flex-direction: column;
    margin: 10px 10% 10px 10%;
}
/*Courses
*/
.courses{
    background-color:darksalmon;
    display: flex;
}
.courses-img{
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: thistle;
}
.courses-cont{
    display: flex;
    flex-direction: column;
    margin: 10px 10% 10px 10%;
    text-align: center;
}
/*Miss
*/
.MISCELLANEOUS{
    background-color:darkgrey;
    display: flex;
}
.miss-img{
    border-radius: 10%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px ;
    background-color: thistle;
}
.miss-cont{
    display: flex;
    flex-direction: column;
    margin: 10px 10% 10px 10%;
    text-align: center;
}
.contact {
    background-color:powderblue;
}
.footer-link{
    margin-right: 20px  ;
}
.copyright {
    margin: 0;
}
.finish{
    
    background-color:lightgreen ;
}